.list-group-item span{
	min-width: 5%;
	display: inline-block;
}

.list-group-item ul ul, #divBSCT{
	margin-left:0;
	padding:0;
	list-style-type: none;}

body{
	min-width: 300px;
}

.list-group-item-nested{
	border:none;
	display: inline-block;
	list-style-type:none; 
}

#divSave span{
	min-width: 100%;
}
#divSave input{
	min-width: 15%;
}

.topDiv img{
	margin:0 auto;
	width:20%;
}

.contentDiv{
 	padding-top: 1%;
 }

div.topDiv{
	overflow: hidden;
	top:0px;
	height: auto;
	padding:1% 0;
	text-align: center;
	position: fixed;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
	width: 100%;
	background-color: #FFF;
	z-index: 100;
}

div.contentDiv{
	font-family: calibri, sans-serif;
	z-index: 1;
}

div#admin{
	margin-top:0;
}

#resultContainer {
    	margin-top: 6vw;
}

h3, h4 {
    	color: #777777;
   	 	margin-top: -1%;
   	 	font-size: 1.5em;
}

div#resultContainer{
	margin-top: 15%;
}


/* ----------- iPhone 4 and 4S ----------- */
/* ----------- iPhone 5 and 5S ----------- */
@media screen and (max-device-width: 500px)
{
	h3, h4 {
		font-size: 1em;
	}

}

	img.delete-img{
		width: 150px;
		height: 150px;
	}

	.row{
		margin-bottom: 2%;
		margin-top: 15%;
	}

div.div-placeholder{
    padding-right: 1%; 
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    float: left;
    margin: 1% 5% 5% 5%;
}

div.div-placeholder form input[type="image"]{
	width: 100%;
}

h3, h4{
	color:#777777;
}

.div-placeholder img{
	vertical-align: middle;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0 0 2vw 0;
    width: 100%;	   
}

.btn_img{
	background-color: #FFF;
	border:0;
}

#contentContainer{
	text-align: left;
}
    
#contentContainer ul li{
	margin-left:0;
	padding:0;
	list-style-type: none;
 }

 .clearfix {
    clear: both;
}

div.container div#market div.flag{
	margin-top:5vw;
}

div.contentDiv input[type="submit"].submit-style{
	width: 40%;
	margin-bottom: 10%;
}

div.table-responsive{
	margin-top: 3%;
}

.table>tbody>tr>td{
	padding:0 0 0 1%;
	text-align: center;
	vertical-align: middle;
}

.table>tbody>tr>td.align-left{
	text-align: left;
}

.table>tbody>tr>td.check-box-manage{
	padding-left:0;
}

.btn-holder{
	text-align: right;
}

#navBar{
	margin-bottom: 5%;
	font-weight: bold;
}

#titleResult, #titleResultNumber{
	text-align: center;
}

.checkbox-admin{
	margin-right: 3%;
}