 

.list-group-item span{
	min-width: 5%;
	display: inline-block;
}

.list-group-item ul ul, #divBSCT{
	margin-left:0;
	padding:0;
	list-style-type: none;
}


.list-group-item-nested{
	border:none;
	display: inline-block;
	list-style-type:none; 
}

.list-group-item-nested span{
	/*min-width: 15%;*/
}

#divSave span{
	min-width: 100%;
}
#divSave input{
	min-width: 15%;
}

 .contentDiv{
 	padding-top: 1%;
 }


/*
 div.contentDivNav{
	width: 50%;
	margin: 0 auto;
	font-family: calibri, sans-serif;
	margin-bottom: 20%;
	}
*/

.container-img-text{
	width:45%;
}

.img-placeholder{
	/* width:45%; */
	float:left;
	margin-bottom: 15%;
	height: 70px;
	width:125px;
	margin-right: 25px;
}



/*
.img-placeholder img{
    width: 100%;
    height: auto;

}
*/

/* circle background */


.circle-text, .label-text {
    width:45%;
    float: left;
}

.even{
	margin-right: 5%;
}

.circle-text{
	 padding: 5% 5% 0 5%;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    /* background: #a2d108; */
    background: #FFF; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    border: solid 0.25em #777;

}


div.contentDivNav{
	margin-bottom: 20%;
}

.circle-text div {
    float:left;
    width:100%;
    padding-top:54%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
	color: #777;
	font-size: 150%;
    font-weight: bold;
}

.cicleContainer{
	clear: both;
	margin: 0 auto;
}

.label-text{
	text-align: center;
	position: relative;
    margin-top: 2%;
}

.label-text span{
	background-color: #a2d108;
	color:#FFF;
	padding:3%;
	font-weight: bold;
	font-size: 80%;
}

.clear-element{
	clear: both;
}


